.sidebar, .deactive {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    /* justify-content: space-between; */
    gap: 3rem;
    padding: 2rem;
    align-content: space-between;
    align-items: center;
    left: 0;
    margin-left: 0;
    background-color: rgba(175,175,175, .5);
    min-height: calc(100vh - 4rem);
}

.sidebar-btn-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-content: space-between;
    align-items: center;
}

.btn-deactive {
    display:none;
}

.deactive {
    background-color: rgba(175, 175, 175, 0);
}

.sidebar-btn, .sidebar-btn:active, .sidebar-btn:focus {
    background-color: rgba(0,0,0, 0);
    border: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}

.user-input {
    left: 0;
    align-self: flex-start;
}

#location-search {
    width: 15rem;
    height: 2rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 2rem;
    padding: 0 1rem;
    color: black;
}